<h2>Regístrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "Correo electrónico* "%>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :nombres, "Nombres* "%>
    <%= f.text_field :nombres, autocomplete: "on"%>
  </div>

  <div class="field">
    <%= f.label :apellidos, "Apellidos* "%>
    <%= f.text_field :apellidos, autocomplete: "on"%>
  </div>

  <div class="field">
    <%= f.label :apodo, "Apodo* "%>
    <%= f.text_field :apodo, autocomplete: "on"%>
  </div>

  <div class="field">
    <%= f.label :password, "Contraseña* "%>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contraseña* "%>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrame" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
