<!DOCTYPE html>
<html>
	<head>
  	<title>RepositorioDeMusica</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>

	</head>
	<body>
		<br>
		<br>
		<br>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= render 'shared/navbar'%>
		
		<!--<div class="container-fluid">
  		<div class="row content">
			<div class="col-sm-12" id="contenido">
			
				<div class="well">
					
				</div>
				<div class="well">-->
					<%= yield %>
				<!--</div>
			</div>
		
		</div>-->
		</div>
		
	</body>
<%= render 'shared/footer'%>
</html>