<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Email</th>
      <th style="text-align: center">Nombres</th>
      <th style="text-align: center">Apellidos</th>
      <th style="text-align: center">Apodo</th>
      <th style="text-align: center">Rol</th>
      <th style="text-align: center">Imagen</th>
      <th colspan="3" style="text-align: center"> Acciones </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.role != 'admin' %>
          <td><%= user.email %></td>
          <td><%= user.nombres %></td>
          <td><%= user.apellidos %></td>
          <td><%= user.apodo %></td>
          <td><%= user.role %></td>
          <td><%= image_tag user.imagenPerfil.url(:thumb) %></td>
          <td><%= link_to 'Mostrar', user %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: "Estas seguro de eliminar al usuario '#{user.email}'" } %></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>